<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="red" >

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4  ">
                        <form method="#" action="#">

                            <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                            <div class="card card-hidden">
                                <div class="header text-center">Registro</div>
                                <form #registerForm="ngForm" novalidate (ngSubmit)="onRegister(registerForm.value, registerForm.valid)">
                                  
                                        <div class="content">
                                            <div class="form-group">
                                                <input type="text" name="primerNombre" required placeholder="Your First Name"
                                                    class="form-control" [(ngModel)]="userRegister.primerNombre" required
                                                     #primerNombre="ngModel">
                                                <small
                                                    [hidden]="primerNombre.valid || (primerNombre.pristine && !registerForm.submitted)"
                                                    class="text-danger">
                                                    Ingrese Primer Nombre
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="segundoNombre" required placeholder="Your Last Name"
                                                    class="form-control" [(ngModel)]="userRegister.segundoNombre" required
                                                    #segundoNombre="ngModel">
                                                <small
                                                    [hidden]="segundoNombre.valid || (segundoNombre.pristine && !registerForm.submitted)"
                                                    class="text-danger">
                                                    Ingrese Segundo Nombre
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="compania" required placeholder="Company"
                                                    class="form-control" [(ngModel)]="userRegister.compania" required
                                                    #compania="ngModel">
                                                <small
                                                    [hidden]="compania.valid || (compania.pristine && !registerForm.submitted)"
                                                    class="text-danger">
                                                    Ingrese nombre de su compañia
                                                </small> 
                                            </div>
        
        
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Enter email" class="form-control" 
                                                [(ngModel)]="userRegister.email"   required   #email="ngModel"
                                                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                            <small [hidden]="email.valid || (email.pristine && !registerForm.submitted)"
                                                class="text-danger">
                                                Email inválido.
                                            </small>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" type="password" name="password" placeholder="Password" class="form-control"
                                                [(ngModel)]="userRegister.password"   required  minlength="6"  #password="ngModel" >
                                                    <small [hidden]="password.valid || (password.pristine && !registerForm.submitted)"
                                                    class="text-danger">
                                                    ingrese contraseña.
                                                    </small>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" type="password" name="confirmacionPassword" placeholder="Password Confirmation" class="form-control"
                                                [(ngModel)]="userRegister.confirmacionPassword"   required  minlength="6"  #confirmacionPassword="ngModel" >
                                                <small [hidden]="confirmacionPassword.valid || (confirmacionPassword.pristine && !registerForm.submitted)"
                                                class="text-danger">
                                                ingrese contraseña.
                                                </small>
                                            </div>
        
                                        </div>
                                        <div class="footer text-center">
                                            <button type="submit" class="btn btn-fill btn-danger btn-wd">Registrar</button>
                                        </div>
                                   
                                </form>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{test | date: 'yyyy'}} <a href="https://www.creative-tim.com">Creative Tim</a>, made with
                    love for a better web
                </p>
            </div>
        </footer>




        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
      <!--  <div class="content">
            <div class="container">
                <div class="row">
                 
                    <div class="col-md-4 col-md-offset-s1">
                        <form #registerForm="ngForm" novalidate (ngSubmit)="onRegister(registerForm.value, registerForm.valid)">
                            <div class="card card-plain">
                                <div class="content">
                                    <div class="form-group">
                                        <input type="text" name="primerNombre" required placeholder="Your First Name"
                                            class="form-control" [(ngModel)]="userRegister.primerNombre" required
                                             #primerNombre="ngModel">
                                        <small
                                            [hidden]="primerNombre.valid || (primerNombre.pristine && !registerForm.submitted)"
                                            class="text-danger">
                                            Ingrese Primer Nombre
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="segundoNombre" required placeholder="Your Last Name"
                                            class="form-control" [(ngModel)]="userRegister.segundoNombre" required
                                            #segundoNombre="ngModel">
                                        <small
                                            [hidden]="segundoNombre.valid || (segundoNombre.pristine && !registerForm.submitted)"
                                            class="text-danger">
                                            Ingrese Segundo Nombre
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="compania" required placeholder="Company"
                                            class="form-control" [(ngModel)]="userRegister.compania" required
                                            #compania="ngModel">
                                        <small
                                            [hidden]="compania.valid || (compania.pristine && !registerForm.submitted)"
                                            class="text-danger">
                                            Ingrese nombre de su compañia
                                        </small> 
                                    </div>


                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Enter email" class="form-control" 
                                        [(ngModel)]="userRegister.email"   required   #email="ngModel"
                                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                    <small [hidden]="email.valid || (email.pristine && !registerForm.submitted)"
                                        class="text-danger">
                                        Email inválido.
                                    </small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="password" placeholder="Password" class="form-control"
                                        [(ngModel)]="userRegister.password"   required  minlength="6"  #password="ngModel" >
                                            <small [hidden]="password.valid || (password.pristine && !registerForm.submitted)"
                                            class="text-danger">
                                            ingrese contraseña.
                                            </small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="confirmacionPassword" placeholder="Password Confirmation" class="form-control"
                                        [(ngModel)]="userRegister.confirmacionPassword"   required  minlength="6"  #confirmacionPassword="ngModel" >
                                        <small [hidden]="confirmacionPassword.valid || (confirmacionPassword.pristine && !registerForm.submitted)"
                                        class="text-danger">
                                        ingrese contraseña.
                                        </small>
                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-neutral btn-wd">Create Free
                                        Account</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    -->

        <footer class="footer footer-transparent">
            <div class="container">
                <p class="copyright text-center">
                    &copy; {{test | date: 'yyyy'}} <a href="https://www.creative-tim.com">Creative Tim</a>, made with
                    love for a better web
                </p>
            </div>
        </footer>

    </div>

</div>